geopandas==0.14.1
fiona>=1.8.21
packaging>=23.2
pandas>=1.4.0
pyproj>=3.3.0
shapely>=2.0.2
attrs>=19.2.0
certifi>=2023.7.22
click~=8.0
click-plugins>=1.0
cligj>=0.5
six>=1.16.0
python-dateutil>=2.8.1
pytz>=2020.1
numpy>=1.21.0
rasterio==1.3.9
affine==2.4.0
snuggs>=1.4.1
rioxarray==0.15.0
xarray>=0.17
matplotlib>=3.x.x
tweepy
snscrape
seaborn
papermill
requests
beautifulsoup4
tqdm